html,
body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  border: 0px;

}

#menu ul {

  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  width: 90%;


}

#menu li ul a {

  text-decoration: none;


}

#menu {
  width: 100%;
  height: 8%;
  background-color: rgb(238, 255, 0);
  border: none;
}

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;



}

.prod_cad_list {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 5%;
  justify-content: center;


}

.produtos {
  width: 55%;
  height: 2%;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(238, 255, 0);
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;

  text-align: left;
  padding: 8px;
  border-radius: 20%;
}

tr:hover {
  background-color: #f2f2f2;
}

.stats {
  border: 1px solid black;
  border-radius: 45px;
  width: 70%;
  align-items: center;
  text-align: center;
  background-color: orangered;
  color: #f2f2f2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-bonitinha {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-left: 5%;
  margin-bottom: 10%;
}

/* Estilizando a borda quando a caixa de entrada estiver em foco */
.input-bonitinha:focus {
  border-color: #007bff;
  outline: none;
  /* Remove a borda de foco padrão do navegador */
}

/* Estilizando o texto dentro da caixa de entrada */
.input-bonitinha::placeholder {
  color: #aaa;
}

/* Estilizando a borda quando a caixa de entrada está inválida */
.input-bonitinha:invalid {
  border-color: #dc3545;
}

/* Estilizando a mensagem de erro */
.input-bonitinha+.error-message {
  font-size: 14px;
  color: #dc3545;
  display: none;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* Efeito de brilho ao passar o mouse */
.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.button:hover::before {
  width: 0;
  height: 0;
}

/* Texto do botão */
.button span {
  position: relative;
  z-index: 1;
}

.success-message {
  display: none;
  color: green;
  font-size: 18px;
  margin-top: 10px;
}