<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/Style.css">
  <title>Cadastrar Produto</title>
  <!-- Ionicons CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="../static/js/script.js"></script>
</head>

<body>

  <nav class="menu">
    <button id="menu-button" class="menu-button">
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="button-cascade hidden" id="button-cascade"> <!-- Adicionamos o id "button-cascade" -->
      <a href="{{ url_for('paginaInicial') }}" class="option">Página Inicial</a>
      <a href="{{ url_for('cadastrar_produto') }}" class="option">Cadastrar Produto</a>
    </div>
  </nav>

  <div class="tabela">
    <form method="post" action="/adicionar_produto">
      <fieldset>
        <legend>Digite as Informações do Produto</legend>
        <div>
          <label for="txtRastreio">Rastreio do produto:</label>
          <input type="text" name="txtRastreio" id="txtRastreio" required>
        </div>
        <div>
          <label for="txtTipo">Tipo do Produto:</label>
          <input type="text" name="txtTipo" id="txtTipo" required>
        </div>
        <div>
          <label for="txtData">Previsão de Data de Recebimento:</label>
          <input type="date" name="txtData" id="txtData" required>
        </div>
        <div>
          <label for="txtDescricao">Descrição</label>
          <input type="text" name="txtDescricao" id="txtData" required>
        </div>
        <button type="submit">Cadastrar Produto</button>
      </fieldset>
    </form>
  </div>

  <script src="menu.js"></script>
</body>

</html>
