<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pasta sem título/style/Style.css">
    <title>tela inicial</title>
</head>
<body>
    
        <nav id="menu">
            <div class="nav">
            <ul>
                <li>olá, % Nome Ususario %</li>
               <a href="#"><li>Cadastrar Produto</li></a>
            </ul>
        </nav>
        </div>
    <div class="prod_cad_list">
        <div class="produtos">
            <h1>Produtos Cadastrados</h1>
            <table>
               
                <tr>
                    <td>Controle com fio </td>
                    <td>25/05/2024</td>
                    <td><p class="stats"> A caminho</p></td>
                   <td><a href="#">Info</a></td>
                </tr>

            </table>
        
        </div>

    </div>
    <footer>
        <div class="rodape_page">

        </div>
    </footer>
</body>
</html>