<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/Style.css">
    <title>tela inicial</title>
    <!-- Ionicons CDN -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <h1><a href="index.html"></a></h1>
        </div>
    </header>

    <nav class="menu">
        <button id="menu-button" class="menu-button">
            <ion-icon name="menu"></ion-icon>
        </button>
        <div class="button-cascade hidden" id="button-cascade">
            <a href="{{ url_for('paginaInicial') }}" class="option">Página Inicial</a>
            <a href="{{ url_for('cadastrar_produto') }}" class="option">Cadastrar Produto</a>
        </div>
    </nav>

    <div class="tabela">
        <h1>Produtos Cadastrados</h1>
        <table>
            <thead>
                <tr>
                    <th>Rastreio</th>
                    <th>Data de Recebimento</th>
                    <th>Status</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for Product in Produtos %}
                <tr>
                    <td>{{Product.rastreio_pedido}}</td>
                    <td>{{Product.datareceb_prod}}</td>
                    <td>
                        <p class="stats">A caminho</p>
                    </td>
                    <td><a href="#">Info</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <div class="rodape_page"></div>
    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>