<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <title>tela inicial</title>

</head>

<body>

    <header>
        <div class="container">
          <h1><a href="index.html">Portfólio de Caio</a></h1>
          <nav>
            <ul>
              <li><a href="{{url_for('cadastrar_produto')}}">Sobre</a></li>
            </ul>
          </nav>
        </div>
      </header>
    

    <div class="prod_cad_list">
        <div class="produtos">
            <h1>Produtos Cadastrados</h1>

            <table>
                {% for Product in Produtos %}
                <tr>
                    <td>{{Product.rastreio_pedido}} </td>
                    <td>{{Product.datareceb_prod}}</td>
                    <td>
                        <p class="stats"> A caminho</p>
                    </td>
                    <td><a href="#">Info</a></td>
                </tr>
                {% endfor %}
            </table>


        </div>

    </div>
    <footer>
        <div class="rodape_page">

        </div>
    </footer>
</body>

</html>