<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="../static/css/Reg.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Tela de Login</title>
</head>

<body>
    <section>
        <div class="box">
            <div class="form-value">
                <form action="">
                    <h2>Registrar</h2>
                    <div class="cxentrada">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" required>
                        <label for="">Nome</label>
                    </div>
                    <div class="cxentrada">
                        <ion-icon name="call-outline"></ion-icon>
                        <input type="number" required>
                        <label for="">Telefone</label>
                    </div>
                    <div class="cxentrada">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="cxentrada">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Senha</label>
                    </div>

                    <button class="botao" type="submit">Registrar</button>

                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>