<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="../static/css/Style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <title>Tela de Login</title>
</head>

<body>
    <section>
        <div class="box">
            <div class="form-value">
                <form action="/logar" method="post">
                    <h2>Login</h2>
                    <div class="cxentrada">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input name="txtemail" type="email" required>
                        <label >Email</label>
                    </div>
                    <div class="cxentrada">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required name="txtSenha">
                        <label for="">Senha</label>
                    </div>
                    <div class="esqueci">
                        

                    </div>
                    <button>Log in</button>
                    <div class="registro">
                        <p>Não possui conta? <a href="Reg.html">Registre-se</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>